.App {
  text-align: center;
 
background-color: #efefef;
/* border: solid green 2px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blok-link a{
  text-decoration: none;
  color:#7d7d7d;
}
/*.video-box{
 background-image: "../public/img/MFHM.png";
 background-size: cover;
}*/

.header-icon > .link-head  > a {
  font-size: 14px;
  text-decoration: none;
  padding: 0;
  display: block;
}
.header-icon .link-head  a {
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  text-transform: uppercase;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  transition: all 0.3s ease;
}
.header-icon .link-head  a i {
  margin-left: 5px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}
.header-icon > .link-head  > a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease;
}
.header-icon > .link-head .active > a:before {
  width: 100%;
}
.header-icon .link-head  a:hover {
  color: #1da912;
}
.header-icon > .link-head  > a:hover:before {
  background-color: #1da912;
  width: 100%;
}
span .link-head{
  list-style: none;
  padding-left: inherit;
  padding-right: inherit;
}

/*.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}*/

/*------whatsapp css------*/
 /* for desktop */
/*.whatsapp_float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 30px;
          box-shadow: 2px 2px 3px #999;
          z-index: 100;
      }

      .whatsapp-icon {
          margin-top: 16px;
      }
      .whatsapp_float:hover{
        color:#7d7d7d;
      }*/
      

      /* for mobile */
     /* @media screen and (max-width: 767px) {
          .whatsapp-icon {
              margin-top: 10px;
          }

          .whatsapp_float {
              width: 40px;
              height: 40px;
              bottom: 20px;
              right: 10px;
              font-size: 22px;
          }
      }*/
.whatsapp-icon{
  width: 60px;
}
/*-------Map-------*/

.map{
/*  border: solid red 2px;
*/  text-align: center;

}
.map iframe{
width:90%;
height: 300px;
min-width: 330px;
}


/*-------Map-------*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
